
.browser{
    width: 30rem;
    padding-left: 10rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    background-color: lightgray;
}

.title1{
    border-bottom: solid 1px rgb(165, 90, 90);
}
#app-music{
    color: grey;
}
.card1,.card2{
    width: 25rem;
    height: 25rem;
    background-size: cover;
    position: relative;
    color: white;
    justify-content: center;
}
.card1{
     background-image: url(/media/pexels-andrea-piacquadio-761963.jpg);
}
.card2{
    background-image:url(/media/pexels-eric-esma-894156.jpg);
}

span{
   margin-left: 2rem;
   display: block; 
   padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
    
}
p{
   margin-left: 2rem; 
   bottom: 2px;
}

.footer-menu-listen{
    padding-top:2rem;
    
}
.footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3rem;
    
    
    padding-bottom:2rem;
}
.nav:hover,
.nav:focus{
    transform: scale(1.6);
    
}
.footer{
    width: 27rem;
    height: 3rem;
    background-color: grey;
    padding-top:0;
}
